<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Portable.BouncyCastle" version="1.8.2" targetFramework="net461" />
  <package id="StreamExtended" version="1.0.179" targetFramework="net461" />
  <package id="Titanium.Web.Proxy" version="3.0.684" targetFramework="net461" />
</packages>